<%- include('partials/header') %>

<% if (locals.successMessage) { %>
  <div style="text-align: center;" class="alert alert-success">
    <%= successMessage %>
  </div>
<% } %>

<% if (locals.user) { %>
  <div class="jumbotron centered welcome">
    <div class="container">
      <h1 class="display-5">Welcome to <img src="/svg/logo.svg" alt="logo"> <%= user.username %></h1>
      <p class="lead">Don't keep your photos, share them with your friends :)</p>
    </div>
  </div>
  
  <% if (locals.commentsByPhotoUserDetails && locals.commentsByPhoto && locals.likesByPhotoUserDetails && locals.photos_info && locals.photos && photos.length > 0) { %>
    <div class="photo-gallery">
      <% for(let i = 0; i<photos.length; i++) { %>
        <% if(photos_info[i].caption.toLowerCase() !== "hide") { %>
          <div class="photo-container">
            <div class="photo-title">
              <% if (locals.profilePictures) { %>
                <img src="<%= profilePictures[i] %>" alt="Profile Picture">
              <% } else { %>
                <img src="/svg/profile.svg" alt="Profile Picture">
              <% } %>
              <p><a href="/userProfile/<%= userDetails[i].id %>"><%= userDetails[i].username %></a></p>
            </div>
            <div class="photo-date">
              <p id="photo-date<%= i %>"><%= photos_info[i].createdAt.toString().split(' GMT')[0]  %></p>
            </div>
            <div class="photo-item-home">
              <img src="<%= photos[i].localUrl %>" alt="Photo">
            </div>
            <div class="photo-bio-home">
              <p><a href="/userProfile/<%= userDetails[i].id %>"><%= userDetails[i].username %></a></p>
              <p><%= photos_info[i].caption  %></p>
            </div>
            <div class="likes">
              <div id="likes-panel<%= i %>" class="likes-panel hide">
                <p style="font-weight: bold;">Likes</p>
                <% likesByPhotoUserDetails[i].map(user => { %>
                  <p>🩷 <a href="/userProfile/<%= user.id %>"><%= user.username %></a></p>       
                <% }); %>  
              </div>
            </div>
            <div>
              <button id="likes-count<%= i %>" class="likes-count-button" onclick="toggleLikesPanel('<%= i %>')"><%= likesByPhotoUserDetails[i].length %> Likes</button>
            </div>
            <div class="photo-buttons">
              <div class="buttons-container">
                <% if(locals.likeDetails[i]) { %>
                  <form id="unlikeForm<%= i %>" onsubmit="return handleUnlikeFormSubmit(event, '<%= i %>')">
                    <div>
                      <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                      <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                    </div>
                    <button type="submit" id="disLikeButton<%= i %>" class="like-button liked">Liked</button>
                  </form>
                <% } else { %>
                  <form id="likeForm<%= i %>" onsubmit="return handleLikeFormSubmit(event, '<%= i %>')">
                    <div>
                      <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                      <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                    </div>
                    <button type="submit" id="likeButton<%= i %>" class="like-button">Like</button>
                  </form>
                <% } %>
                <button id="showCommentButton<%= i %>" class="show-all-comments-button" onclick="toggleCommentsPanel('<%= i %>')">Show All Comments</button>
              </div>
              <div id="comments-panel<%= i %>" class="hide comments-panel">
                <% for (let j = 0; j < commentsByPhoto[i].length; j++) { %>
                  <div id="comment-detail<%= i %><%= j %>" class="comment-detail">
                    <p>💬 <a href="/userProfile/<%= commentsByPhotoUserDetails[i][j].id %>"><%= commentsByPhotoUserDetails[i][j].username %></a>:</p>
                    <p> <%= commentsByPhoto[i][j].comment %> </p>
                    <% if(commentsByPhotoUserDetails[i][j].id == user.id) { %>
                      <form id="removeCommentForm<%= i %><%= j %>" onsubmit="return handleRemoveCommentFormSubmit(event, '<%= i %>', '<%= j %>')">
                        <div class="form-group">
                          <input hidden type="text" class="form-control" name="userId" value="<%= commentsByPhotoUserDetails[i][j].id %>">
                          <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                          <input hidden type="text" class="form-control" name="comment" value="<%= commentsByPhoto[i][j].comment %>">
                        </div>
                        <button type="submit" id="comment-delete-button<%= i %><%= j %>" class="comment-delete-button">
                          <svg viewBox="0 0 448 512" class="deleteCommentSvgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                        </button>
                      </form>
                    <% } %>
                  </div>
                <% } %>
              </div>
              <div class="comment-form addCommmentForm">
                <form id="addCommentForm<%= i %>" onsubmit="return handleAddCommentFormSubmit(event, '<%= i %>')">
                  <div class="form-group">
                    <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                    <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                    <input id="comment-text<%= i %>" type="text" name="comment" placeholder="Type comment..." required>
                    <button type="submit" class="add-comment-button">Add Comment</button>
                  </div>      
                </form>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  <% } else { %>
    <div class="photo-msg">
      <p>No photos available</p>
    </div>
  <% } %>
<% } %>

<script type="module" src="/js/home.js"></script>

<%- include('partials/footer') %>
