<%- include('partials/header') %>

<div>
  <% if (locals.user) { %>
    <div class="first-section">
      <div class="photo-gallery">
        <div class="photo-item">
          <% if (locals.profilePicture) { %>
            <img id="profile-picture" src="<%= profilePicture %>" alt="Profile Picture">
          <% } else { %>
            <img id="profile-picture" src="/svg/profile.svg" alt="Profile Picture">
          <% } %>
        </div>
      </div>

      <div class="username-bio">
        <h1><%= user.username %></h1>
        <div class="bio">
          <p><%= user.bio %></p>
        </div>
      </div>
      <div class="followings-followers">
        <button id="followings-button" class="followers-followings-button">Followings<span class="followers-followings">&nbsp; <%= followings.length %> </span></button>
        <button id="followers-button" class="followers-followings-button">Followers<span class="followers-followings">&nbsp; <%= followers.length %> </span></button>
      </div>
      <div class="followings-followers-container">
        <div id="followings-container" class="followings-list hide">
          <p>Followings</p>
          <% if (followings.length > 0) { %>
            <ul>
              <% followings.forEach(user => { %>
                <li><a href="/userProfile/<%= user.id %>"><%= user.username %></a></li>
              <% }) %>
            </ul>
          <% } %>
        </div>
        <div id="followers-container" class="followers-list hide">
          <p>Followers</p>
          <% if (followers.length > 0) { %>
            <ul>
              <% followers.forEach(user => { %>
                <li><a href="/userProfile/<%= user.id %>"><%= user.username %></a></li>
              <% }) %>
            </ul>
          <% } %>
        </div>
      </div>
    </div>
    
    <div class="second-section">
      <button id="editBioButton" class="edit-buttons" onclick="toggleHideBio()">Edit Bio</button>
      <button id="editUsernameButton" class="edit-buttons" onclick="toggleHideUsername()">Edit Username</button>
      <button id="editEmailButton" class="edit-buttons" onclick="toggleHideEmail()">Edit Email</button>
      <button id="editPasswordButton" class="edit-buttons" onclick="toggleHidePassword()">Edit Password</button>
      <button id="addProfilePictureButton" class="edit-buttons" onclick="toggleHideProfilePicture()">Add Profile Picture</button>
    </div>

    <% if (locals.errMsg) { %>
      <div style="text-align: center;" class="alert alert-danger">
        <%= errMsg %>
      </div>
    <% } %>
    
    <div class="edit-forms">
      <form action="/api/users/editBio" method="POST" onsubmit="return validateBioForm()">
        <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
        <input id="editBioInputField" type="text" class="form-control hide" name="bioText" placeholder="Enter the Bio.." required>
        <button id="saveBioButton" type="submit" class="edit-buttons hide">Save</button>
      </form>
      
      <form action="/api/users/editUsername" method="POST" onsubmit="return validateUsernameForm()">
        <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
        <input id="editUsernameInputField" type="text" class="form-control hide" name="username" placeholder="Enter the Username.." required>
        <button id="saveUsernameButton" type="submit" class="edit-buttons hide">Save</button>
      </form>
      
      <form action="/api/users/editEmail" method="POST" onsubmit="return validateEmailForm()">
        <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
        <input id="editEmailInputField" type="email" class="form-control hide" name="email" placeholder="Enter the Email.." required>
        <button id="saveEmailButton" type="submit" class="edit-buttons hide">Save</button>
      </form>
      
      <form action="/api/auth/editPassword" method="POST" onsubmit="return validatePasswordForm()">
        <input id="editPasswordInputField" type="password" class="form-control hide" name="password" placeholder="Enter the Password.." required>
        <button id="savePasswordButton" type="submit" class="edit-buttons hide">Save</button>
      </form>
      
      <form action="/api/users/editProfilePicture" method="POST" enctype="multipart/form-data" onsubmit="return validateAddProfilePictureForm()">
        <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
        <input type="file" class="form-control hide" id="photo" name="photo" accept="image/*">
        <div class="invalid-feedback" id="photoError"></div>
        <button id="saveProfilePictureButton" type="submit" class="edit-buttons hide">Save</button>
      </form>
    </div>
    
    <% if (commentsByPhotoUserDetails && commentsByPhoto && likesByPhotoUserDetails && photos_info && photos && photos.length > 0) { %>
      <div class="photo-gallery">
        <% for(let i = 0; i<photos.length; i++) { %>
          <div class="photo-container">
            <div class="photo-item">
              <img src="<%= photos[i].localUrl %>" alt="Photo">
            </div>
            <div class="photo-bio">
              <p id="photo-bio<%= i %>"><%= photos_info[i].caption  %></p>
              <button id="photo-bio-button<%= i %>" class="edit-caption-button" onclick="editPhotoCaption('<%= i %>')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2L2 11.207V13h1.793L14 3.793 11.207 2zM1 13.5V16h2.5l.5-.5H1.5a.5.5 0 0 1-.5-.5v-2.5l-.5.5z"/>
                </svg>
              </button>
              <div>
                <form id="editCaptionForm<%= i %>" onsubmit="return handleEditCaptionFormSubmit('<%= i %>')">
                  <input type="hidden" class="hide" name="photoId" value="<%= photos_info[i].id %>">
                  <input id="photo-bio-caption<%= i %>" type="text" class="hide" name="newCaption" required>
                  <button id="saveCaptionButton<%= i %>" type="submit" class="edit-buttons hide save-caption-button" onclick="editPhotoCaption('<%= i %>')">Save</button>
                </form>
              </div>
            </div>
            <div class="likes">
              <div id="likes-panel<%= i %>" class="likes-panel hide">
                <p style="font-weight: bold;">Likes</p>
                <% likesByPhotoUserDetails[i].map(user => { %>
                  <p>🩷 <a href="/userProfile/<%= user.id %>"><%= user.username %></a></p>       
                <% }); %>  
              </div>
            </div>
            <div>
              <button id="likes-count<%= i %>" class="likes-count-button" onclick="toggleLikesPanel('<%= i %>')"><%= likesByPhotoUserDetails[i].length %> Likes</button>
            </div>
            <div class="photo-buttons">
              <div class="buttons-container">
                <% if(locals.likeDetails[i]) { %>
                  <form action="/api/likes/unlike" method="POST">
                    <div>
                      <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                      <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                    </div>
                    <button type="submit" id="disLikeButton<%= i %>" class="like-button liked">Liked</button>
                  </form>
                <% } else { %>
                  <form action="/api/likes/like" method="POST">
                    <div>
                      <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                      <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                    </div>
                    <button type="submit" id="likeButton<%= i %>" class="like-button">Like</button>
                  </form>
                <% } %>
                <button id="showCommentButton<%= i %>" class="show-all-comments-button" onclick="toggleCommentsPanel('<%= i %>')">Show All Comments</button>
              </div>
              <div id="comments-panel<%= i %>" class="hide comments-panel">
                <% for (let j = 0; j < commentsByPhoto[i].length; j++) { %>
                  <div class="comment-detail">
                    <p>💬 <a href="/userProfile/<%= commentsByPhotoUserDetails[i][j].id %>"><%= commentsByPhotoUserDetails[i][j].username %></a>:</p>
                    <p> <%= commentsByPhoto[i][j].comment %> </p>
                    <form action="/api/comments/remove" method="POST">
                      <div class="form-group">
                        <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                        <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                        <input hidden type="text" class="form-control" name="comment" value="<%= commentsByPhoto[i][j].comment %>">
                      </div>
                      <button type="submit" class="comment-delete-button">
                        <svg viewBox="0 0 448 512" class="deleteCommentSvgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                      </button>
                    </form>
                  </div>
                <% } %>
              </div>
              <div class="comment-form">
                <form action="/api/comments/add" method="POST" onsubmit="return validateAddCommentForm('<%= i %>')">
                  <div class="form-group">
                    <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                    <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                    <input id="comment-text<%= i %>" type="text" name="comment" placeholder="Type comment..." required>
                    <button type="submit" class="add-comment-button">Add Comment</button>
                  </div>      
                </form>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    <% } else { %>
      <div class="photo-msg">
        <p>No photos available</p>
      </div>
    <% } %>
  <% } %>
</div>

<script src="/js/profile.js"></script>

<%- include('partials/footer') %>
