<%- include('partials/header') %>
<div>
  <a href="/">Home</a>
  <% if (locals.user) { %>
    <div class="first-section">
      <div class="photo-gallery">
        <div class="photo-item">
          <% if (locals.profilePicture) { %>
            <img id="profile-picture" src="<%= profilePicture %>" alt="Profile Picture">
          <% } else { %>
            <img id="profile-picture" src="/images/blank-profile-picture.jpg" alt="Profile Picture">
          <% } %>
        </div>
      </div>

      <div class="username-bio">
        <h1><%= user.username %></h1>
        <div class="bio">
          <p><%= user.bio %></p>
        </div>
      </div>
      <div class="followings-followers">
        <button id="followings-button" class="followers-followings-button">Followings<span class="followers-followings">&nbsp; <%= followings.length %> </span></button>
        <button id="followers-button" class="followers-followings-button">Followers<span class="followers-followings">&nbsp; <%= followers.length %> </span></button>
      </div>
      <div class="followings-followers-container">
        <div id="followings-container" class="followings-list hide">
          <p>Followings</p>
          <% if (followings.length > 0) { %>
            <ul>
              <% followings.forEach(user => { %>
                <li><a href="/userProfile/<%= user.id %>"><%= user.username %></a></li>
              <% }) %>
            </ul>
          <% } %>
        </div>
        <div id="followers-container" class="followers-list hide">
          <p>Followers</p>
          <% if (followers.length > 0) { %>
            <ul>
              <% followers.forEach(user => { %>
                <li><a href="/userProfile/<%= user.id %>"><%= user.username %></a></li>
              <% }) %>
            </ul>
          <% } %>
        </div>
      </div>
    </div>
    
  <% } %>
</div>
<div class="second-section">
  <button id="editBioButton" class="edit-buttons" onclick="toggleHideBio()">Edit Bio</button>
  <button id="editUsernameButton" class="edit-buttons" onclick="toggleHideUsername()">Edit Username</button>
  <button id="editEmailButton" class="edit-buttons" onclick="toggleHideEmail()">Edit Email</button>
  <button id="editPasswordButton" class="edit-buttons" onclick="toggleHidePassword()">Edit Password</button>
  <button id="addProfilePictureButton" class="edit-buttons" onclick="toggleHideProfilePicture()">Add Profile Picture</button>
</div>

<div class="edit-forms">
  <form action="/api/users/editBio" method="POST" onsubmit="return validateBioForm()">
    <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
    <input id="editBioInputField" type="text" class="form-control hide" name="bioText" placeholder="Enter the Bio.." required>
    <button id="saveBioButton" type="submit" class="edit-buttons hide">Save</button>
  </form>
  
  <form action="/api/users/editUsername" method="POST" onsubmit="return validateUsernameForm()">
    <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
    <input id="editUsernameInputField" type="text" class="form-control hide" name="username" placeholder="Enter the Username.." required>
    <button id="saveUsernameButton" type="submit" class="edit-buttons hide">Save</button>
  </form>
  
  <form action="/api/users/editEmail" method="POST" onsubmit="return validateEmailForm()">
    <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
    <input id="editEmailInputField" type="email" class="form-control hide" name="email" placeholder="Enter the Email.." required>
    <button id="saveEmailButton" type="submit" class="edit-buttons hide">Save</button>
  </form>
  
  <form action="/api/auth/editPassword" method="POST" onsubmit="return validatePasswordForm()">
    <input id="editPasswordInputField" type="password" class="form-control hide" name="password" placeholder="Enter the Password.." required>
    <button id="savePasswordButton" type="submit" class="edit-buttons hide">Save</button>
  </form>
  
  <form action="/api/users/editProfilePicture" method="POST" enctype="multipart/form-data" onsubmit="return validateAddProfilePictureForm()">
    <input type="hidden" class="form-control hide" name="userId" value="<%= user.id %>">
    <input type="file" class="form-control hide" id="photo" name="photo" accept="image/*">
    <div class="invalid-feedback" id="photoError"></div>
    <button id="saveProfilePictureButton" type="submit" class="edit-buttons hide">Save</button>
  </form>
</div>

<% if (commentsByPhotoUserDetails && commentsByPhoto && likesByPhotoUserDetails && photos_info && photos && photos.length > 0) { %>
  <div class="photo-gallery">
    <% for(let i = 0; i<photos.length; i++) { %>
      <div class="photo-container">
        <div class="photo-item">
          <img src="<%= photos[i].localUrl %>" alt="Photo">
        </div>
        <div class="photo-bio">
          <p><%= photos_info[i].caption  %></p>
        </div>
        <div class="likes">
          <div id="likes-panel<%= i %>" class="likes-panel hide">
            <p style="font-weight: bold;">Likes</p>
            <% likesByPhotoUserDetails[i].map(user => { %>
              <p>🩷 <a href="/userProfile/<%= user.id %>"><%= user.username %></a></p>       
            <% }); %>  
          </div>
        </div>
        <div>
          <button id="likes-count<%= i %>" class="likes-count-button" onclick="toggleLikesPanel('<%= i %>')"><%= likesByPhotoUserDetails[i].length %> Likes</button>
        </div>
        <div class="photo-buttons">
          <div class="buttons-container">
            <% if(locals.likeDetails[i]) { %>
              <form action="/api/likes/unlike" method="POST">
                <div>
                  <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                  <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                </div>
                <button type="submit" id="disLikeButton<%= i %>" class="like-button liked">Liked</button>
              </form>
            <% } else { %>
              <form action="/api/likes/like" method="POST">
                <div>
                  <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                  <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                </div>
                <button type="submit" id="likeButton<%= i %>" class="like-button">Like</button>
              </form>
            <% } %>
            <button id="showCommentButton<%= i %>" class="show-all-comments-button" onclick="toggleCommentsPanel('<%= i %>')">Show All Comments</button>
          </div>
          <div id="comments-panel<%= i %>" class="hide comments-panel">
            <% for (let j = 0; j < commentsByPhoto[i].length; j++) { %>
              <div class="comment-detail">
                <p>💬 <a href="/userProfile/<%= commentsByPhotoUserDetails[i][j].id %>"><%= commentsByPhotoUserDetails[i][j].username %></a>:</p>
                <p> <%= commentsByPhoto[i][j].comment %> </p>
                <form action="/api/comments/remove" method="POST">
                  <div class="form-group">
                    <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                    <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                    <input hidden type="text" class="form-control" name="comment" value="<%= commentsByPhoto[i][j].comment %>">
                  </div>
                  <button type="submit" class="comment-delete-button">
                    <svg viewBox="0 0 448 512" class="deleteCommentSvgIcon"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path></svg>
                  </button>
                </form>
              </div>
            <% } %>
          </div>
          <div class="comment-form">
            <form action="/api/comments/add" method="POST">
              <div class="form-group">
                <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                <input type="text" name="comment" placeholder="Type comment..." required>
                <button type="submit" class="add-comment-button">Add Comment</button>
              </div>      
            </form>
          </div>
        </div>
      </div>
    <% } %>
  </div>
<% } else { %>
  <p>No photos available.</p>
<% } %>

<script>

  function hideButtons() {
    const editBioButton = document.getElementById('editBioButton');
    const editUsernameButton = document.getElementById('editUsernameButton');
    const editEmailButton = document.getElementById('editEmailButton');
    const editPasswordButton = document.getElementById('editPasswordButton');
    const addProfilePictureButton = document.getElementById('addProfilePictureButton');

    editBioButton.classList.add('hide');
    editUsernameButton.classList.add('hide');
    editEmailButton.classList.add('hide');
    editPasswordButton.classList.add('hide');
    addProfilePictureButton.classList.add('hide');
  }

  function showButtons() {
    const editBioButton = document.getElementById('editBioButton');
    const editUsernameButton = document.getElementById('editUsernameButton');
    const editEmailButton = document.getElementById('editEmailButton');
    const editPasswordButton = document.getElementById('editPasswordButton');
    const addProfilePictureButton = document.getElementById('addProfilePictureButton');

    editBioButton.classList.remove('hide');
    editUsernameButton.classList.remove('hide');
    editEmailButton.classList.remove('hide');
    editPasswordButton.classList.remove('hide');
    addProfilePictureButton.classList.remove('hide');
  }

  function toggleHideBio() {
    const editBioInputField = document.getElementById('editBioInputField');
    const saveBioButton = document.getElementById('saveBioButton');
    
    if (editBioInputField.classList.contains('hide')) {
      editBioInputField.classList.remove('hide');
      saveBioButton.classList.remove('hide');
      hideButtons();
    } else {
      editBioInputField.classList.add('hide');
      saveBioButton.classList.add('hide');
      showButtons();
    }
  }
  
  function toggleHideUsername() {
    const editUsernameInputField = document.getElementById('editUsernameInputField');
    const saveUsernameButton = document.getElementById('saveUsernameButton');

    if (editUsernameInputField.classList.contains('hide')) {
      editUsernameInputField.classList.remove('hide');
      saveUsernameButton.classList.remove('hide');
      hideButtons();
    } else {
      editUsernameInputField.classList.add('hide');
      saveUsernameButton.classList.add('hide');
      showButtons();
    }
  }
  
  function toggleHideEmail() {
    const editEmailInputField = document.getElementById('editEmailInputField');
    const saveEmailButton = document.getElementById('saveEmailButton');

    if (editEmailInputField.classList.contains('hide')) {
      editEmailInputField.classList.remove('hide');
      saveEmailButton.classList.remove('hide');
      hideButtons();
    } else {
      editEmailInputField.classList.add('hide');
      saveEmailButton.classList.add('hide');
      showButtons();
    }
  }
  
  function toggleHidePassword() {
    const editPasswordInputField = document.getElementById('editPasswordInputField');
    const savePasswordButton = document.getElementById('savePasswordButton');

    if (editPasswordInputField.classList.contains('hide')) {
      editPasswordInputField.classList.remove('hide');
      savePasswordButton.classList.remove('hide');
      hideButtons();
    } else {
      editPasswordInputField.classList.add('hide');
      savePasswordButton.classList.add('hide');
      showButtons();
    }
  }

  function toggleHideProfilePicture() {
    const saveProfilePictureButton = document.getElementById('saveProfilePictureButton');
    const photo = document.getElementById('photo');

    if (photo.classList.contains('hide')) {
      photo.classList.remove('hide');
      saveProfilePictureButton.classList.remove('hide');
      hideButtons();
    } else {
      photo.classList.add('hide');
      saveProfilePictureButton.classList.add('hide');
      showButtons();
    }
  }

  document.getElementById('followings-button').addEventListener('mouseover', function() {
    document.getElementById('followings-container').classList.remove('hide');
  });

  document.getElementById('followings-button').addEventListener('mouseout', function() {
    document.getElementById('followings-container').classList.add('hide');
  });

  document.getElementById('followers-button').addEventListener('mouseover', function() {
    document.getElementById('followers-container').classList.remove('hide');
  });

  document.getElementById('followers-button').addEventListener('mouseout', function() {
    document.getElementById('followers-container').classList.add('hide');
  });
  
  /*
  function toggleFollowingsPanel() {
    const followingContainer = document.getElementById("followings-container");

    if(followingContainer.classList.contains('hide')) {
      followingContainer.classList.remove('hide');
    } else {
      followingContainer.classList.add('hide');
    }
  }

  function toggleFollowersPanel() {
    const followerContainer = document.getElementById("followers-container");

    if(followerContainer.classList.contains('hide')) {
      followerContainer.classList.remove('hide');
    } else {
      followerContainer.classList.add('hide');
    }
  }
  */

  function toggleLikesPanel(i) {
    const likesPanel = document.getElementById(`likes-panel${i}`);

    if(likesPanel.classList.contains('hide')) {
      likesPanel.classList.remove('hide');
    } else {
      likesPanel.classList.add('hide');
    }
  }

  function toggleCommentsPanel(i) {
    const commentsPanel = document.getElementById(`comments-panel${i}`);
    const commentButton = document.getElementById(`showCommentButton${i}`);

    if(commentsPanel.classList.contains('hide')) {
      commentsPanel.classList.remove('hide');
      commentButton.innerHTML = "Hide All Comments";
    } else {
      commentsPanel.classList.add('hide');
      commentButton.innerHTML = "Show All Comments";
    }
  }

  function validateBioForm() {
    const bioText = document.getElementById('editBioInputField').value;
    if (bioText.trim() === '') {
      alert('Bio cannot be empty');
      return false;
    }
    return true;
  }

  function validateUsernameForm() {
    const username = document.getElementById('editUsernameInputField').value;
    if (username.trim() === '') {
      alert('Username cannot be empty');
      return false;
    }
    return true;
  }

  function validateEmailForm() {
    const email = document.getElementById('editEmailInputField').value;
    if (email.trim() === '') {
      alert('Email cannot be empty');
      return false;
    }
    if (!validateEmail(email)) {
      alert('Invalid email format');
      return false;
    }
    return true;
  }

  function validatePasswordForm() {
    const password = document.getElementById('editPasswordInputField').value;
    if (password.trim() === '') {
      alert('Password cannot be empty');
      return false;
    }
    if (password.length < 8) {
      alert('Password must be at least 8 characters long');
      return false;
    }
    return true;
  }

  function validateEmail(email) {
    const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return re.test(String(email).toLowerCase());
  }

  function validateAddProfilePictureForm() {
    let isValid = true;

    const photo = document.getElementById('photo').files[0];

    // Photo validation
    if (!photo) {
      document.getElementById('photoError').innerText = "Photo is required";
      document.getElementById('photo').classList.add('is-invalid');
      isValid = false;
    } else {
      document.getElementById('photoError').innerText = "";
      document.getElementById('photo').classList.remove('is-invalid');
    }
    return isValid;
  }
</script>
<%- include('partials/footer') %>
