<%- include('partials/header') %>
<% if (locals.user) { %>
  <% if (profilePicture) { %>
    <div class="photo-gallery">
      <div class="photo-item">
        <img src="<%= profilePicture %>" alt="Profile Picture">
      </div>
    </div>
  <% } %>
  <h1><%= user.username %></h1>
  <p><%= user.bio %></p>

  <% if(locals.following) { %>
    <div>
      <form action="/api/following/unfollow" method="POST">
        <div class="form-group">
          <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
        </div>
        <button type="submit" class="btn btn-dark">Unfollow</button>
      </form>
    </div>
  <% } else { %>
    <div>
      <form action="/api/following/follow" method="POST">
        <div class="form-group">
          <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
        </div>
        <button type="submit" class="btn btn-dark">Follow</button>
      </form>
    </div>
  <% } %>
<% } %>

<% if (photos && photos.length > 0) { %>
  <div class="photo-gallery">
    <% photos.forEach(photo => { %>
      <div class="photo-item">
        <img src="<%= photo.localUrl %>" alt="Photo">
      </div>
    <% }) %>
  </div>
<% } else { %>
  <p>No photos available.</p>
<% } %>
<a href="/">Home</a>

<script>
  
</script>
<%- include('partials/footer') %>
