<%- include('partials/header') %>

<a href="/">Home</a>
<% if (locals.user) { %>
  <div class="first-section">
    <div class="photo-gallery">
      <div class="photo-item">
        <% if (locals.profilePicture) { %>
          <img id="profile-picture" src="<%= profilePicture %>" alt="Profile Picture">
        <% } else { %>
          <img id="profile-picture" src="/images/blank-profile-picture.jpg" alt="Profile Picture">
        <% } %>
      </div>
    </div>
    
    <div class="username-bio">
      <h1><%= user.username %></h1>
      <div class="bio">
        <p><%= user.bio %></p>
      </div>
    </div>
    
    <div class="follow-unfollow-button">
      <% if(locals.following) { %>
        <div>
          <form action="/api/following/unfollow" method="POST">
            <div class="form-group">
              <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
            </div>
            <button type="submit" class="btn btn-dark">Unfollow</button>
          </form>
        </div>
      <% } else { %>
        <div>
          <form action="/api/following/follow" method="POST">
            <div class="form-group">
              <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
            </div>
            <button type="submit" class="btn btn-dark">Follow</button>
          </form>
        </div>
      <% } %>
    </div>
    <div class="followings-followers">
      <button id="followings-button" class="btn btn-dark" onclick="toggleFollowingsPanel()" ><%= followings.length %> Followings</button>
      <button id="followers-button" class="btn btn-dark" onclick="toggleFollowersPanel()" ><%= followers.length %> Followers</button>
    </div>
    <div class="followings-followers-container">
      <div id="followings-container" class="followings-list hide">
        <p>Followings</p>
        <% if (followings.length > 0) { %>
          <ul>
            <% followings.forEach(user => { %>
              <li><a href="/userProfile/<%= user.id %>"><%= user.username %></a></li>
            <% }) %>
          </ul>
        <% } %>
      </div>
      <div id="followers-container" class="followers-list hide">
        <p>Followers</p>
        <% if (followers.length > 0) { %>
          <ul>
            <% followers.forEach(user => { %>
              <li><a href="/userProfile/<%= user.id %>"><%= user.username %></a></li>
            <% }) %>
          </ul>
        <% } %>
      </div>
    </div>
  </div>
  <% if (photos_info && photos && photos.length > 0) { %>
    <div class="photo-gallery">
      <% for(let i = 0; i<photos.length; i++) { %>
        <div class="photo-container">
          <div class="photo-item">
            <img src="<%= photos[i].localUrl %>" alt="Photo">
          </div>
          <div class="photo-bio">
            <p><%= photos_info[i].caption  %></p>
          </div>
          <div class="photo-buttons">
            <% if(locals.likeDetails[i]) { %>
              <form action="/api/likes/unlike" method="POST">
                <div class="form-group">
                  <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                  <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                </div>
                <button type="submit" class="btn btn-dark">Unlike</button>
              </form>
            <% } else { %>
              <form action="/api/likes/like" method="POST">
                <div class="form-group">
                  <input hidden type="text" class="form-control" name="userId" value="<%= user.id %>">
                  <input hidden type="text" class="form-control" name="photoId" value="<%= photos_info[i].id %>">
                </div>
                <button type="submit" class="btn btn-dark">Like</button>
              </form>
            <% } %>
            <button class="btn btn-dark">Add Comment</button>
          </div>
        </div>
      <% } %>
    </div>
  <% } else { %>
    <p>No photos available.</p>
  <% } %>
<% } %>

<script>
  function toggleFollowingsPanel() {
    const followingContainer = document.getElementById("followings-container");

    if(followingContainer.classList.contains('hide')) {
      followingContainer.classList.remove('hide');
    } else {
      followingContainer.classList.add('hide');
    }
  }

  function toggleFollowersPanel() {
    const followerContainer = document.getElementById("followers-container");

    if(followerContainer.classList.contains('hide')) {
      followerContainer.classList.remove('hide');
    } else {
      followerContainer.classList.add('hide');
    }
  }
</script>

<%- include('partials/footer') %>
